<html>
    <head>
            <% include partials/head.ejs %>

    </head>
    <body>
        <div class="container">                    
            <div class="jumbotron main">
                <h1 id="giveFont" align="center">Rock, Paper, Scissors <a href="https://www.youtube.com/watch?v=JtcHmiAcbZc" target="_blank"><p>How to play?</p></a></h1> 
                <img src="/images/homePic.jpg" id="homeImg">
                <br><br>
                <form method="post" action="/getName" class="col-md-8">
                    <p class="input-group">
                        <button id="youVsComputer" class="btn btn-info" > You vs Computer</button>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                        <input  type="text" required id="playerNameInput" placeholder="enter your name" name="playerName">&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                    </p>                     
                </form>
                <form action="/gotoCompVsComp" method="get">
                    <button id="compVsComp" class="btn btn-info" >Computer vs Computer</button> 
                </form>                           
            </div>
        </div>        
    </body>
</html>