#youVsComputer { float: left}
#compVsComp {float: right}
#homeImg {height: 400px; width: auto; padding-left: 15%}
#minion {height: 100px; width: auto}
#option {height: 100px; width: auto}
#optionComp {height: 100px; width: auto}
#playercenter {padding-left: 200px}
#replay, #startGame {display: block; margin:auto;}
body{background: url(/images/background2.jpg)}
th, td {text-align: center}
.jumbotron.leftSide, .jumbotron.centerSide, .jumbotron.rightSide {height: 300px; width: auto}
